.dropdownMenuContent {
  position: relative;
  right: 0;

  padding: 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 6px;
}

.IconButton {
  position: relative;
  line-height: 0 !important;
  background-color: transparent;
  border: none;
}

.dropdownMenuItem {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 12px 0;

  &:focus-visible {
    outline: none;
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.dropdownMenuItemSpan {
  padding-right: 6px;
  line-height: 0 !important;
}

.dropdownArrow {
  position: relative;
  bottom: 1.5px;
  transform: rotate(180deg);
}
