.trigger {
  background: transparent;
  border: none;
}

.content {
  position: relative;
  z-index: 999;

  margin: 8px;
  padding: 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  .arrow {
    position: absolute;
    bottom: -5.1px;
    transform: rotate(45deg);

    width: 10px;
    height: 10px;

    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-500);
    border-top: none;
    border-left: none;
  }

  .contentItems {
    > :first-child {
      padding-top: 0;
    }

    > :last-child {
      padding-bottom: 0;
    }
  }
}

.item {
  cursor: pointer;

  display: flex;
  gap: 6px;
  align-items: center;

  padding: 12px 0;

  &[data-highlighted] {
    color: pink;
    outline: none;
    transition: transform 0.5s;
  }

  :focus-visible {
    outline-color: transparent;
  }

  svg {
    width: 16px;
    height: 16px;
    fill: #fff;
  }
}

.separator {
  width: auto;
  border: 1px solid var(--color-dark-500);
}
