.wrapper {
  width: 420px;
  margin-right: auto;
  margin-left: auto;

  .card {
    padding: 0;
  }

  .link {
  }

  .typographyTitleWrapper {
    margin-bottom: 51px;
    padding: 0 24px;

    .typographyTitle {
      margin: 0;
      text-align: center;
    }
  }

  .typographyEmailWrapper {
    padding-bottom: 65px;

    .emailTypography {
      margin-top: 19px;
      color: var(--color-light-900);
    }
  }

  .typographyBottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
      display: flex;
      justify-content: center;
    }

    .typographyBottomBody2 {
      padding: 20px 0;
    }
  }
}
