.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 420px;

  .typographyTitleWrapper {
    padding: 0 24px;
    margin-bottom: 27px;

    .typographyTitle {
      text-align: center;
      margin: 0;
    }
  }

  .typographyWrapper {
    padding-bottom: 60px;

    .email {
      padding-bottom: 24px;
    }

    .tapographyCheckBox {
      margin-top: 12px;
    }

    .forgotText {
      text-align: right;

      padding-top: 6px;

      .forgotTextBody2 {
        margin: 0;
      }
    }
  }

  .subTitle {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 20px;

    .subTitleBody2 {
      margin: 0;
      padding-bottom: 7px;
      color: var(--color-light-900);
    }

    .subTitleLink {
      margin: 0;
      padding-top: 11px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
