.card {
  width: 100%;
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  padding-bottom: 27px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkBox {
  padding-top: 18px;
}

.forgot {
  text-align: right;
}

.button {
  margin-top: 60px;
}

.subTitleBody {
  padding: 20px 0 7px;
  text-align: center;
}

.subTitleLink {
  text-align: center;
}
