:root {
  --font-family-primary: 'Roboto', sans-serif;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  // font sizes
  --font-size-12-xs: 0.75rem; //12px
  --font-size-14-s: 0.875rem; //14px
  --font-size-16-m: 1rem; // 16px
  --font-size-18-l: 1.125rem; // 18px
  --font-size-20-xl: 1.25rem; // 20px
  --font-size-26-xxl: 1.625rem; // 26px

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
