.user {
  margin-top: 0;
  margin-bottom: 0;
}

.dropdownMenuTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 12px;

  &:focus-visible {
    outline: none;
  }
}

.dropdownMenuItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 12px 0;

  line-height: initial;

  &:focus-visible {
    outline: none;
  }
}

.dropdownMenuItemSpan {
  margin-right: 8px;
}

.dropdownSeparator {
  height: 1px;
  background-color: var(--color-dark-500);
}

.dropdownMenuItemBottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-top: 12px;
  padding-bottom: 0;

  line-height: initial;
}
