.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;

  box-sizing: border-box;

  font-family: inherit;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: inherit;

  border-radius: 4px;
  outline: none;

  transition: background-color 0.5s linear;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  padding: 6px 28px;
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    background-color: var(--color-accent-900);
    box-shadow: none;
  }

  &:focus {
    background-color: var(--color-accent-500);
    outline: 2px solid var(--color-info-700);
  }
}

.secondary {
  padding: 6px 28px;
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 var(--color-dark-shadow);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    color: var(--color-light-900);
    box-shadow: none;
  }

  &:focus {
    background-color: var(--color-dark-300);
    outline: 2px solid var(--color-info-700);
  }
}

.fullWidth {
  width: 100%;
  text-align: center;
}

.link {
  composes: button;
  padding: 6px 28px;
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 var(--color-accent-500);
}
