.button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;

  font-family: inherit;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: inherit;

  border-radius: 4px;
  outline: none;

  transition: background-color 0.5s linear;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  padding: 6px 28px;
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:hover {
    background-color: var(--color-accent-300);
    box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  }

  &:active {
    background-color: var(--color-accent-700);
    box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  }

  &:disabled {
    background-color: var(--color-accent-900);
    box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  }

  &:focus {
    background-color: var(--color-accent-500);
    outline: 2px solid var(--color-info-700);
    box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  }
}

.secondary {
  padding: 6px 28px;
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:hover {
    background-color: var(--color-dark-100);
    box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);
  }

  &:active {
    background-color: var(--color-dark-500);
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }

  &:disabled {
    color: var(--color-light-900);
    box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);
  }

  &:focus {
    background-color: var(--color-dark-300);

    //border: 2px solid var(--color-info-700);
    outline: 2px solid var(--color-info-700);
  }
}

.fullWidth {
  width: 100%;
  text-align: center;
}
