.button {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px;

  //background-color: var(--color-dark-700);
  //border-right: 1px solid var(--color-dark-500, #333);
  //border-bottom: 1px solid var(--color-dark-500, #333);
  //border-left: 1px solid var(--color-dark-500, #333);
}
