.trigger{
  background-color: transparent;
  padding: 6px 12px;
  width: 210px;
  color: var(--color-light-100);
  border: 1px solid var(--color-dark-300);
  outline: none;
  &[data-state = 'open']{
    .icon{
      transform: rotate(180deg);

    }
  }
  &:hover{
    background-color: var(--color-dark-100);
  }
  &:focus{
    border: 2px solid var(--color-info-700) ;
  }
}
.content{
  width: 210px;
  border: 1px solid var(--color-dark-300);
  border-top: none;

}
.item{
  outline: none;
padding: 6px 11px;
  &:hover{
    background-color: var(--color-accent-900);
    color: var(--color-accent-300)
  }
}