.selectorTrigger{
  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  padding: 6px 14px 6px 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  color: var(--color-light-100);
  width: 210px;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  border-radius: 2px;
  transform: rotate(0deg);
  //width: 100%;



  &:hover{
    background-color: var(--color-dark-500);
    color:var(--color-light-100);
  }
  &:active{
    .arrowIcon {
      transform: rotate(180deg);
    }
  }
  &:focus{
    outline: 2px solid var(--color-info-700);
  }
  &:disabled{
    color: var(--color-dark-300);
    border-color:var(--color-dark-300) ;
    .arrowIcon{
     color:var(--color-dark-300) ;
    }
    &:hover{
      background-color: transparent;
    }
  }
  .iconWrapper {
    line-height: 0 !important;
  }

}

.selectorContent{
  border: 1px solid var(--color-dark-100);
  width: 210px;
  .selectorContentItem{
    padding: 6px 6px 6px 12px;
    &:hover{
      background-color: var(--color-accent-900);
      color:var(--color-accent-300);
      border: none;

    }
    &:focus-visible{
      border: none;
    }
  }
}