.typography {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
}

a {
  color: var(--color-primary-);
}

.body1 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
}

.body2 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
}

.caption {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
}

.h1 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-l);
}

.h2 {
  font-size: var(--font-size-xl);
  line-height: var(line-height-l);
}

.h3 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-m);
}

.h4 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

.link1 {
  cursor: pointer;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-info-500);
  text-decoration: underline;

  .link1 a {
    color: var(--color-info-500);
  }
}

.link2 {
  cursor: pointer;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
  color: var(--color-info-500);
  text-decoration: underline;
}

.overline {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
}

.subtitle1 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

.subtitle2 {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}
