.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}

.filter {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  margin: 10px 0 16px;

  .slider {
    max-width: 251px;
  }

  .input {
    width: 299px !important;
  }

  .tabs {
    width: 299px;
  }
}

.tabsWrapp {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.sliderWrapp {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
