.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}

.filter {
  display: flex;
  gap: 25px;

  .slider {
    max-width: 251px;
  }

  .input {
    width: 299px !important;
  }

  .tabs {
    width: 299px;
  }
}
